<!DOCTYPE html>
<html>
<head>
    <title>Companies</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="navbar">
    <h2>Select Company</h2>
    <a href="/dashboard">Dashboard</a>
</div>

<div class="company-container">

    <div class="company-container">

    <div class="company-card">
        <img src="static\images\tcs.jpg"
             alt="TCS Logo" class="company-logo">
        <a href="/questions/tcs">Start Practice</a>
    </div>

    <div class="company-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Infosys_logo.svg" 
             alt="Infosys Logo" class="company-logo">
        <a href="/questions/infosys">Start Practice</a>
    </div>

    <div class="company-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" 
             alt="Amazon Logo" class="company-logo">
        <a href="/questions/amazon">Start Practice</a>
    </div>



</div>

</body>
</html>