<!DOCTYPE html>
<html>
<head>
    <title>Select Viva</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<img src="/static/images/vivaa.png" class="viva-image" alt="Viva Illustration">
<body>

<div class="navbar">
    <h2>Choose Viva Type</h2>
</div>

<div class="company-container">

    <div class="company-card" onclick="location.href='/viva/hr'">
        <h3>HR Viva</h3>
        <p>Practice interview questions</p>
    </div>

    <div class="company-card" onclick="location.href='/viva/tech'">
        <h3>Technical Viva</h3>
        <p>OS, CN, DBMS, C/C++</p>
    </div>

</div>

</body>
</html>